<div class="navitagorDiv" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="html">
	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" style="background-color: #3a8fb7">
		<a class="navbar-brand" href="#nowhere" style="color: white">housewares后台</a>
		
		<a class="navbar-brand" href="admin_category_list">分类管理</a>
		<a class="navbar-brand" href="admin_user_list">用户管理</a>
		<a class="navbar-brand" href="admin_order_list">订单管理</a>
		<span class="pull-right"><a class="navbar-brand" href="backlogout">退出</a></span>

	</nav>
</div>
